/*
background purple: #540B51
background ivory: #F3EAE2
button blue: #4285F4
titles black: #191817
paragraph black: #000000
paragraph yellow: #ECB12F
links blue: #2E71A6
footer links grey: #454245
*/

* 

a {
    text-decoration: none;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a:hover, button:hover {
    cursor: pointer;
}

/* Iteração 1 768px */

.navegador{
    background-color: #540B51;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 50px;
    

}
    .navegador-principal{  
        display: flex;    

    }
            .imagem-navegador{
                height: 36px;
                
            }
        
        .navegador-lista{
            display:none;

        }
    .navegador-botoes button {
        
        padding:0;
        background: none;
        writing-mode: none;
        color: none;
        font: none;
        border: none;
        margin: 10px;
               
    }
        
        .hidden{
            display: none;

        }


.capa{
    display: flex;
    flex-direction: column;
    background-color: #540B51;
    color: aliceblue;

}
    .capa-titulo{
        text-align: center;
        text-decoration: none;              

    }
        .p-capa{
            color:yellow;
            font-size: x-large;
        }
        span{
            color:aliceblue;
        }
        .h-capa{
            font-size: 80px;
        }

        .capa-botoes{
            display: flex;
            flex-direction: column;
            padding: 30px;                  
        }
            .capa-botao-email{
                padding: 10px;
                margin-bottom: 10px;                                
            }
            .capa-botao-google{
                padding: 10px;
                background-color: #4285F4;
                border: 0;             
            }
                .imagem-google{
                    height: 15px;
                    background-color: aliceblue;
                    

                }
    .capa-imagem{

    }
        .imagem-capa{
            height: 670px;

        }

.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3EAE2;

}
    .section1 {
        padding: 10px;
        flex-direction: column;
        align-items: center;
        
    }
        .p-section1{
            text-transform: uppercase;
            align-items: center;
            color: #191817;                        
        }
        .section1-empresas img{
            width: 150px;
            
        }
        
        
             
        

    .section2{

    }   .section2-imagem > img{
        height: 480px;
        ;

        }
        .section2-texto{

        }
    .section3{

    }
        .section3-texto{

        }
        .section3-imagem img{
            height: 480px;

        }
    .section4{

    }
        .section4-imagem img{
            height: 480px;


        }
        .section4-texto{

        }
    .section5{

    }
        .section5-botoes{

        }
            .section5-botao-enterprise{

            }
            .section-botao-sales{

            }
        .section5-lista{

        }
    .section6{

    }
     .section6-botao-try{

     }  
     .section6-botao-talk{

     } 
.rodape{
    display: flex;

}
    .rodape-colunas{
        display: flex;

    }
    .rodape-lista-final{

    }
    .rodape-lista-icones{

    }
    .small{

    }




/* Iteração 2 */
@media all and (min-width: 768px) and (max-width: 1024px) {
}

/* Iteração 3 */
@media all and (min-width: 1025px) and (max-width: 1440px) {
}

/* Iteração 4 */
@media all and (min-width: 1441px) {
}